.team {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  border: 1px solid black;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.team:hover {
  z-index: 20;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 0;
}

.teams-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 100vh;
  overflow: hidden;
}



.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.alert {
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  background-color: #0F1E48;
  color: white;
  padding: 1rem;
}

  
.alert a {
  color: #C7FE00;
  font-weight: 800;
  text-decoration: none;
}

.alert a:hover {
  opacity: 0.8;
  transition: all 0.2s;
}

@media (max-width: 1020px) {
  .teams-container {
    grid-template-columns: auto auto auto;
  }

  .team {
    padding: 1rem 0;
  }

  .alert {
    text-align: center;
    position: relative;
    margin: 2rem 0;
  }
}

@media (max-width: 768px) {
  .teams-container {
    grid-template-columns: auto auto;
  }
}

