.team {
  display: flex;
  width: 25vw;
  height: 25vh;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  border: 1px solid black;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.team:hover {
  /* padding: 8rem 10rem; */
  width: 35vw;
  border: 1px solid #C7FE00;
}

.teams-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

@media (max-width: 1020px) {
  .teams-container {
    grid-template-columns: auto auto auto;
  }

  .team {
    width: 33vw;
  }

  .team:hover {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  .teams-container {
    grid-template-columns: auto auto;
  }

  .team {
    width: 50vw;
  }

  .team:hover {
    width: 75vw;
  }
}
